@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap');

button {
  cursor: pointer;
  transition: background-color linear 200ms;
}

button:hover {
  transition: background-color linear 200ms;
}

.App {
  padding: 30px;
  font-family: 'Raleway', sans-serif;
}

.form-container {
  padding: 30px;
  text-align: center;
}

.form-container > label {
  font-size: 25px;
}

.input-container {
  margin: 20px;
}

.input-container > input[type=text] {
  height: 25px;
  border: unset;
  border-bottom: 1px solid #aaaab6;
  width: 200px;
}

.input-container > button {
  padding: 8px 16px;
  margin-left: 8px;
  border: none;
  border-radius: 5px;
  background-color: #369e78;
  text-decoration: none;
  color: white;
}

.input-container > button:hover {
  background-color: #52f2b7;
  color: white;
}

.error-message > button {
  position: absolute;
  padding: 0 5px 1px;
  margin: 0 0 5px 5px;
  border: none;
  border-radius: 50%;
  background-color: #c66060;
  text-decoration: none;
  color: white;
}

.error-message > button:hover {
  background-color: #de8080;
  color: white;
}

.error-message {
  position: relative;
  padding: 11px 20px 0 0;
  color: #b52a2a;
  text-align: center;
}
