@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap");

button {
  cursor: pointer;
  transition: background-color linear 200ms;
}

button:hover {
  transition: background-color linear 200ms;
}

ul {
  margin: 0;
  padding-left: 20px;
}

li {
  list-style-type: none;
  color: #636060;
}

li > .property-key-container {
  color: #268da1;
}

.App {
  padding: 30px;
  font-family: "Raleway", sans-serif;
}

.form-container {
  padding: 30px;
  text-align: center;
}

.form-container > label {
  font-size: 25px;
}

.input-container {
  margin: 20px;
}

.input-container > input[type="text"] {
  height: 25px;
  border: unset;
  border-bottom: 1px solid #aaaab6;
  width: 400px;
}

.input-container > input[type="text"]:focus {
  outline: none;
  box-shadow: rgb(214, 214, 238) 0 0 5px;
}

.input-container > button {
  padding: 8px 16px;
  margin-left: 8px;
  border: none;
  border-radius: 5px;
  background-color: #369e78;
  text-decoration: none;
  color: white;
}

.input-container > button:hover {
  background-color: #52f2b7;
}

.input-container > button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.error-message > button {
  position: absolute;
  padding: 0 5px 1px;
  margin: 0 0 5px 5px;
  border: none;
  border-radius: 50%;
  background-color: #c66060;
  text-decoration: none;
  color: white;
}

.error-message > button:hover {
  background-color: #de8080;
  color: white;
}

.error-message {
  position: relative;
  padding: 11px 20px 0 0;
  color: #b52a2a;
  text-align: center;
}

.loading {
  position: relative;
  text-align: center;
}

.data-viewer {
  padding: 5px 20px;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  background-color: #fbfbe7;
}

.section-container {
  padding: 5px 0;
}

.section-container > .property-key-container {
  color: #a1266c;
}

.section-key-container {
  display: flex;
  gap: 10px;
  cursor: pointer;
  color: rgb(13, 150, 3);
  transition: text-shadow linear 200ms;
}

.section-key-container:hover {
  text-shadow: #54cb5e 1px 1px 5px;
  transition: text-shadow linear 200ms;
}

@media only screen and (max-width: 700px) {
  .App {
    padding: 10px;
  }

  .form-container {
    padding: 0;
  }

  .input-container {
    display: flex;
    flex-direction: column;
  }

  .input-container > input[type="text"] {
    width: 100%;
  }

  .input-container > button {
    margin: 20px 0;
    width: 100%;
  }

  .data-viewer {
    word-wrap: break-word;
  }
}
